.page{
    height: 100vh;
    position: relative;
    top: -22px;
}
.pages{
    height: 100vh;
}


.mainBackground{
    background-image: url("../../components/images/bg.jpg");
    background-size: cover;
    height: 100vh;
    position: relative;
    z-index: -1;
}
.moon{
    position: fixed;
    z-index: 1;
}
.mountains{
    width: 100vw;
    position: fixed;
    z-index: 1;
}
.aboutTitle{
    display: flex;
    text-align: center;
    align-content: center;
    font-size: 50px;
    color: white;
    text-shadow: 2px black;
    z-index: 0;
}


.benBackground{
    background-image: url("../../components/images/earthBG.jpg");
    background-size: cover;
    height: 100vh;
    position: relative;
    z-index: -2;
}
.benMoon{
    width: 60vw;
    top: 600px;
    left: 100px; 
    position: fixed;
    z-index: 1;
}

.safBackground{
    background-image: url("../../components/images/earthBG.jpg");
    background-size: cover;
    height: 100vh;
    position: relative;
    z-index: -3;
}

.ollyBackground{
    background-image: url("../../components/images/earthBG.jpg");
    background-size: cover;
    height: 100vh;
    position: relative;
    z-index: -4;
}

.waizBackground{
    background-image: url("../../components/images/earthBG.jpg");
    background-size: cover;
    height: 100vh;
    position: relative;
    z-index: -5;
}

.lizBackground{
    background-image: url("../../components/images/earthBG.jpg");
    background-size: cover;
    height: 100vh;
    position: relative;
    z-index: -6;
}

.alexBackground{
    background-image: url("../../components/images/earthBG.jpg");
    background-size: cover;
    height: 100vh;
    position: relative;
    z-index: -7;
}

.joshBackground{
    background-image: url("../../components/images/dark spacy.jpg");
    background-size: cover;
    height: 100vh;
    position: relative;
    z-index: -8;
}
.joshGalaxy{
    width: 60vw;
    top:0px;
    left: 100px;
    position: fixed;
    z-index: 1;
}

.eddyBackground{
    background-image: url("../../components/images/earthBG.jpg");
    background-size: cover;
    height: 100vh;
    position: relative;
    z-index: -9;
}

.keyBackground{
    background-image: url("../../components/images/earthBG.jpg");
    background-size: cover;
    height: 100vh;
    position: relative;
    z-index: -10;
}

