
.tabContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 80%;
    height: 300px;
    background: #f1f1f1;
    margin: 100px auto 0;
    word-break: break-all;
    border: 1px solid rgba(0, 0, 0, 0.274);
}


.bloc-tabs {
    display: flex;
}


.tabs {
    padding: 10px;
    font-size: 20px;
    text-align: center;
    width: 100%;
    background: rgba(128, 128, 128, 0.075);
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    box-sizing: content-box;
    position: relative;
    outline: 3px solid white;
}
.tabs:not(:last-child){
    border-right: 1px solid rgba(0, 0, 0, 0.274);
}


.active-tabs  {
    background: white;
    border-bottom: 1px solid transparent;
}
.active-tabs::before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 5px);
    height: 5px;
    background: rgb(88, 147, 241);
}



.content {
    display: flex;
    justify-content: center;
    background: black;
    padding: 20px 0px;
    width: 100%;
    height: 100%;
    display: none;
    outline: 3px solid white;
}
.content h2 {
    padding: 0px 0px 5px 0px;
}
.content p {
    width: 100%;
    height: 100%;
}

.active-content {
    display: block;
}

.formSpaces{
    padding-top: 5px;
}

.topInput{
    width: 50%;
}
