body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-input-placeholder {color: white;} 
::-moz-placeholder { color: white;} 
:-ms-input-placeholder { color: white;} 
:-moz-placeholder {color: white;} 

