.backgroundListing{
    background-image:  
    url("../../components/images/store1.jpg");
    background-size: cover;
    background-position: center;
    min-width: 100%;
    height: 80vh;
    background-attachment:scroll;
}

.breaker{
    padding-top: 10px;
}


.profilePic{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}